.activitybutton {
    width: 70%;
    background-color: lightcoral;
    border: none;
    color: black;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 2em;
}

.clicked {
    background-color: chartreuse;
    color: white;
}

.unclicked {
    background-color: cyan;
    color: black;
}
